/* Banner styles */
.banner {
   margin: 70px 0;
}

.banner .container {
   display: flex;
   justify-content: space-between;
}

.banner .about-user {
   order: 1;
}

.banner .user-image {
   order: 2;
}

.banner .user-info {
   font-size: 44px;
   font-weight: 700;
   line-height: 60px;
   color: var(--dark-blue);
   margin-bottom: 40px;
}

.banner .user-info__description {
   font-weight: 400;
   line-height: 24px;
   color: var(--dark-blue);
   width: 500px;
   margin-bottom: 38px;
}

.banner .btn {
   display: inline-block;
   font-size: 20px;
   padding: 9px 20px;
   color: var(--white-color);
   line-height: 29px;
   background-color: #FF6464;
   border-radius: 2px;
}

.banner .user-image img {
   border-radius: 100%;
}